@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    background-color: #BFCABD;
}

body.bg2 {
    background-color: #add5df;
}

/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header__inner {
    padding: 20px;
    position: relative;
}

.header__inner h1 {}

.header__inner h1 a {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.1px;
    line-height: 1;
    margin-bottom: 5px;
    display: inline-block;
}

.header__inner p {
    font-family: 'Hallym';
    font-weight: 400;
    font-style: normal;
    color: #5f3e3e;
}

.header__inner .link {
    position: absolute;
    right: 10px;
    top: 20px;
}

.header__inner .link a {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    background-image: url(../svg/arrow.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

.footer__inner nav {
    position: fixed;
    left: 20px;
    bottom: 20px;
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.footer__inner nav ul {
    display: flex;
}

.footer__inner nav li a {
    margin-right: 5px;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 300;
}

.footer__inner nav li.active a {
    text-emphasis: circle;
    /* 그 외 
    text-emphasis: filled;
    text-emphasis: open;
    text-emphasis: dot;
    text-emphasis: double-circle;
    text-emphasis: triangle;
    text-emphasis: sesame; */
}